
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

header{
    background-color: #fff;
    margin-top: -7px;
    margin-left: -8px;
    width: 1000px;
    height: 30px;
}

.menu-css {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.menu-css span {
    width: 17px;
    height: 3px;
    background-color: #545353;
    border-radius: 50px;
    margin-left: 10px;
}

.topo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left img {
    margin-left: 10px;
    width: 60px;
    height: auto;
}

.center img{
    width: 270px;
    height: auto;
    margin-left: 210px;
}

.right{
    margin-left: 250px;
    
}

.a {
    width: 15px;
    height: auto;
    margin-bottom: 5px;
}

.b {
    margin-left: 10px;
    width: 13px;
    height: auto;
    margin-bottom: 3px;
}

.c {
    margin-left: 10px;
    width: 23px;
    height: auto;
}

.video{
    margin-left: 35px;
}

.video img{
    margin-top: 15px;
    width: 610px;
    height: auto;
}

.video p {
    font-size: 13px;
    font-weight: 500;
}

.canal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.engagement-panel{
    display: flex;
    align-items: center;
    gap: 10px;
}

.engagement-panel p{
    font-size: 9px;
    font-weight: 500;
}

.logo img{
    margin-left: 35px;
    width: 30px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.texto strong {
    display: block;
    font-size: 9px;
    color: #000;
}

.texto p {
    margin: 0;
    font-size: 9px;
    color: #666666;
}

.increver{
    width: 100px;
    height: auto;
    margin-left: 20px;
    border-radius: 2px;
}

.gostei{
    margin-left: 15px;
    width: 15px;
    height: auto;
}

.naogostei {
    margin-left: 15px;
    width: 15px;
    height: auto;
}

.compartilhar{
    margin-left: 15px;
    width: 15px;
    height: auto;
}

.Download{
    margin-left: 15px;
    width: 15px;
    height: auto;
}

.container-imagens {
    position: absolute;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.container-imagens img{
    width: 120px;
    height: auto;
}

.container-imagens strong{
    width: 145px;
    height: 10px;
    font-size: 9px;
}

.container-imagens p{
    width: 70px;
    height: 10px;
    font-size: 7px;
    color: #666666;
}

.visualizacoes{
    margin-left: 35px;
    width: 350px;
    height: 13px;
    font-size: 8px;
}

.descricao{
    margin-left: 35px;
    width: 300px;
    height: 38px;
    font-size: 8px;
    color: #666666;
}

.mini {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 260px;
}

.mini img {
    width: 120px;
    height: auto;
}

.mini .info strong {
    font-size: 10px;
    display: block;
    color: #000;
}

.mini .info p {
    width: 80px;
    height: auto;
    margin-top: 18px;
    font-size: 8px;
    color: #666;
    line-height: 10px;
}

.info2 p {
    width: 80px;
    height: auto;
    margin-top: 2px;
    font-size: 8px;
    color: #666;
    line-height: 10px;
}










