body {
    font-family: 'Roboto', sans-serif;
}

.menu{
    width: 15px;
    height: auto;
}

.logo-youtube{
    margin-left: 15px;
    width: 55px;
    height: auto;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: -20px;
    margin-left: -10px;
}

.left, .center, .right{
    display: flex;
    align-items: center;
}

.barra-pesquisa {
    width: 250px;
    height: 25px;
    border: 1px solid #d3d3d3;
    display: flex;
    background-color: white;
}

.barra-pesquisa input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 10px;
}

.botao-pesquisa {
    width: 35px;
    background-color: #f4f4f4;
    border-left: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-pesquisa img {
    width: 14px;
}

.right{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.camera{
    width: 16px;
    margin-right: 1px;
}

.notificacao{
    width: 16px;
    margin-right: 1px;
}

.perfil{
    border-radius: 10px;
    width: 25px;
}

.menu .item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.menu .item img{
    margin-left: 10px;
    width: 14px;
}

.menu p {
    font-size: 8px;
    margin: 0;
    white-space: nowrap;
}

.inicio{
    font-weight: 500;
}

.card{
    width: 700px;
    background-color: #f5f5f5;
    padding: 200px;
    margin-left: 140px;
    margin-top: -290px;
}

.card img{
    width: 150px;
}

.linha {
    display: flex;
    gap: 40px;
    margin-top: -170px;
    margin-left: -150px;
}

.logodio{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.logodio.info{
    display: flex;
    flex-direction: column;
}

.logodio img{
    margin-top: 6px;
    width: 25px;
    border-radius: 75px;
}

.logodio strong{
    font-size: 8px;
    width: 110px;
    font-weight: bold;
    display: block;
    white-space: normal;
}

.logodio p{
    margin: 0;
    color: #858181;
    font-size: 8px;
}

.linha2 {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-left: -150px;
}